@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --lightblue: #94d5d1;
  --green: #008083;
  --yellow: #c69226;
  --purple: #900e68;
  --red: #b62112;
  --fb: #3b5998;
  --tw: #00aced;
  --white: #fff;
  --black: #111;
}
