@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --lightblue: #94d5d1;
  --green: #008083;
  --yellow: #c69226;
  --purple: #900e68;
  --red: #b62112;
  --fb: #3b5998;
  --tw: #00aced;
  --white: #fff;
  --black: #111;
}

@keyframes slide {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-80px);
  }
  50% {
    transform: translateY(-160px);
  }
  75% {
    transform: translateY(-240px);
  }
  100% {
    transform: translateY(-320px);
  }
}
